header {
    width: 90%;
    margin: 50px auto;
    display:inline-block;
}

article {

}

footer {

}

p {
    font-family: 'Noto Serif', serif;
    color: gray;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-size: 250%;
    font-weight: lighter;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    font-weight: bold;
}

h4 {
    font-family: 'Abel', sans-serif;
    color: gray;
    font-weight: lighter;
}

.delish {
    display:inline-block;
    width:400px;
}

.logos {
    /* margin-top:-20; */
    width:300px;
    display:inline-block;
}

.head {

}

#chocoPizza {
    
}

.indentedpara {

}

.notepad {

}

.author {
    font-family: 'Noto Serif', serif;
    font-size: 125%;
}

