header {
    width: 90%;
    margin: 50px auto;
}

#blocky {
    display: inline-block;
}

article {
    width: 90%;
    margin: 50px auto;
}

footer {
    width: 90%;
    margin: 50px auto;
}

p {
    font-family: 'Noto Serif', serif;
    color: gray;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-size: 200%;
    font-weight: lighter;
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    font-weight: bold;
}

h4 {
    font-family: 'Abel', sans-serif;
    color: gray;
    font-weight: lighter;
    margin: 0;
}

.delish {
    display:inline-block;
    width:400px;
}

.logos {
    width:300px;
    display:inline-block;
    float:right;
}

.head {

}

#chocoPizza {
    
}

.indentedpara {

}

.notepad {

}

.author {
    font-family: 'Noto Serif', serif;
    font-size: 125%;
}

footer #small-logo {
    display: inline-block;
    width: 25px;
    height: 25px;
    
}

footer p {
    display: block;
    text-align: center;
    font-size: 70%;
    height: fit-content;
    margin: 2px auto;
}

footer div {
    padding: 0px auto;
    width: 100%;
}

hr {
    display: inline-block;
    width: 40%;
}