header {
    width: 90%;
    margin: 50px auto;
    display:inline-block;
}

article {

}

footer {

}

p {

}

h1 {

}

h2 {

}

h4 {

}

.delish {
    display:inline-block;
    width:400px;
}

.logos {
    /* margin-top:-20; */
    width:300px;
    display:inline-block;
}

.head {

}

#chocoPizza {
    
}

.indentedpara {

}

.notepad {

}

.author {

}

